[Desktop Entry]
Encoding=UTF-8
Name=Link to pbrt.cpp
Type=Link
URL=https://github.com/rOnInRaJ-dev/pbrt-v4/blob/riley/src/pbrt/cmd/pbrt.cpp
Icon=text-html
